Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized

objective:
    1.List popular languages for Data Science.
    2.list of popular libraries for data science
    3.list of envirment varible for data science
    4.list of data manegment sytem for data science

Some of the popular languages that Data Scientists use are:
    1.python
    2.r
    3.matlab
    4.scala
    5.julia

Some of the commonly used libraries used by Data Scientists include:
    1.panda
    2.ggplot
    3.numpy
    4.matplotlib
    5.sciketlearn

# Data Science Tools

1.jupyternotebook
2.Rstudio
3.Apache Zeppelin

# Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
4+8

12

In [2]:
89*45

4005

In [3]:
89-23

66

In [4]:
45/15

3.0

This a simple arithmetic expression to mutiply then add integers

In [5]:
(56*34)+56

1960

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
# Python Program to Convert Minute to Hour
min = int(input("Enter Minutes :--> "))
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)

Enter Minutes :--> 200
Hour : Minute :-->  3  :  20

# AUTHOR

1.LAKSHMI HOLLA
2.NIVEDITHA PANDITH